body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #598392;
}

.container {
  background-color: #a8dadc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.amount, .dropdown, .msg {
  width: 100%;
  margin-bottom: 15px;
}

.amount input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #5c44d4;
  border-radius: 4px;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.dropdown .from, .dropdown .to {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.select-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.select-container img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

select {
  width: calc(100% - 42px);
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.fa-arrow-right-arrow-left {
  font-size: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #6c757d;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #b5838d;
}

@media (max-width: 600px) {
  .dropdown {
    flex-direction: column;
    gap: 0;
  }

  .fa-arrow-right-arrow-left {
    display: none;
  }
}
